# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads folder (if created later)
uploads/

# Sample files if generated
*.sample.*
